/*-------------------------------------*\
  #RESETS
\*-------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Lexend+Exa&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(1em + 0.8vw);
  font-family: 'Lexend Deca', sans-serif;
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural floor and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: auto !important;
            transition-duration: auto !important;
    scroll-behavior: auto !important;
  }
}

/* 
  This is the base CSS file
  basic page setup should happen here. All other site elements get their own partial.

*/
/*------------------------------------*\
  #BODY-STYLES
\*-----------------------------------*/
body {
  background-image: url(../../img/topography.svg), -webkit-gradient(linear, left top, left bottom, from(#f3f72b), to(#949494));
  background-image: url(../../img/topography.svg), linear-gradient(180deg, #f3f72b, #949494);
  background-size: 350px, auto;
  min-height: calc(100vh - 100px);
  background-attachment: fixed;
}

/*------------------------------------*\
  #CONTENT
\*------------------------------------*/
.content {
  margin: 1rem;
  position: relative;
  top: 1.3em;
  margin-bottom: 7rem;
}

@media (min-width: 720px) {
  .content {
    top: 1.5rem;
  }
}

.contact__call,
.contact__sms,
.about,
.service,
.blog,
.video-bg,
header,
.testimonial {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/*------------------------------------------------------*\
  #NAV-STYLES https://codepen.io/kevinpowell/pen/jxppmr
\*------------------------------------------------------*/
header {
  background: white;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.logo {
  font-size: 1.2em;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(173, 216, 230, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: purple;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 720px) {
  .logo {
    font-size: 1.0em;
  }
  .nav-toggle-label {
    display: none;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(600px, 3fr) 1fr;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  nav {
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  nav a:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

header > nav > ul > li > a > svg {
  color: black;
  height: 1em;
  width: 1em;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*------------------------------------*\
  #CONTACT
\*------------------------------------*/
.contact {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@supports (display: grid) {
  .contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1em;
  }
  @media (min-width: 320px) {
    .contact {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
    }
  }
}

.contact__call,
.contact__sms {
  background: grey;
  background: -webkit-gradient(linear, left top, left bottom, from(grey), to(lightgrey));
  background: linear-gradient(180deg, grey, lightgrey);
  color: black;
  text-decoration: none;
  font: inherit;
  text-align: center;
  padding: 1em;
}

@media (min-width: 320px) {
  .contact__call,
  .contact__sms {
    padding: 2em;
  }
}

.contact__call {
  margin-right: 1em;
}

@supports (display: grid) {
  .contact__call {
    margin-right: 0;
  }
}

.cotact__sms {
  margin-left: 1em;
}

@supports (display: grid) {
  .cotact__sms {
    margin-left: 0;
  }
}

.blog__header {
  text-align: center;
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  font-size: 1.5rem;
}

.blog {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  background: white;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12fr 1fr;
      grid-template-columns: 1fr 12fr 1fr;
  gap: 10px;
}

.post > * {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.post h2 {
  text-align: center;
  padding: 2rem 1rem;
}

.post .date {
  text-decoration: underline;
}

.post figure {
  margin: 0;
  grid-column: 1 / -1;
}

.post figcaption {
  font-size: 10px;
}

.post blockquote {
  grid-column: 1 / -1;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.post .tip {
  background: #FAFAFA;
  padding: 10px;
  border: 2px solid yellow;
}

@media (min-width: 720px) {
  .post {
    -ms-grid-columns: 3fr 12fr 5fr;
        grid-template-columns: 3fr 12fr 5fr;
  }
  .post h2 {
    padding-left: 0;
    margin-left: 0;
    text-align: left;
  }
  .post > * {
    grid-column: 2 / -2;
  }
  .post figure {
    margin: 0;
    grid-column: 1 / -1;
  }
  .post .tip {
    grid-row: span 5;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .post .tip-right {
    grid-column: span 1 / -1;
    border: none;
    border-left: 2px solid yellow;
  }
  .post .tip-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    text-align: right;
    border: none;
    border-right: 2px solid yellow;
  }
  .post blockquote {
    padding: 0.5em 1em;
  }
}

footer {
  height: 10vh;
  width: 100%;
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-credit,
.icon-credit > * {
  font-size: 1px;
  display: none;
}
/*# sourceMappingURL=blog.css.map */