@import url('https://fonts.googleapis.com/css?family=Nobile:400,700&display=swap');

// Deep Lemon (#F3C622),
// Dark Gunmetal (#23212C), primary
// Yellow Orange (#FCB43A),
// Onyx (#3A3637),
// Metallic Yellow (#FCD615) and Rufous (#992409).

$colors: (
    darkGunmetal: #23212C,
    deepLemon: #F3C622,
    yellowOrange: #FCB43A,
    onyx: #3A3637,
    metallicYellow: #FCD615,
    rufous: #992409
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

body {
    margin: 0;
    height: 100vh;
    background: color(darkGunmetal);
    font-family: 'Nobile';
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: border-box;
}



.snap {
    scroll-snap-align: start;
    border: 2px green solid;
}


.container {
    
    padding: 2em;
    height: 100vh;
     &:first-child {
         display: grid;
         grid-template-rows: 10% 10% auto;
         border: 1px red solid;
     }
    h1 {
        text-align: center;
        margin-top: 2em;
        font-weight: normal;
        font-size: 3em;
        line-height: .9em;
        color: color(metallicYellow);
    }

    p {
        line-height: 1.5em;
        color: color(deepLemon);
    }

    .line {
        align-self: end;
        width: 50%;
        border-right: 1px solid white;
        height: 55%;
        margin-bottom: 6em;
        position: relative;

        &::after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 11px 0 11px;
            border-color: white transparent transparent transparent;
            right: -.7em;
            bottom: -2px;
        }
    }
}



header {
    display: flex;
    justify-content: space-between;

}

.logo {
    color: color(metallicYellow);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

h2 {
    color: color(metallicYellow);
    font-size: 3em;
    margin: 0;
    font-weight: normal;
    
}




 .contact {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h2 {
            color: color(metallicYellow);
        }
        a {
            text-decoration: none;
            text-align: center;
            color: white;
            font-size: 3em;
        }
    }


