body { margin: 0; }
#container { background: blue; }
#header { background: gray; }
#sidebar { background: yellow }
#content { background: red; }
#details { background: green; }

html, body, #container { height: 100%; }
#header { height: 80px; }
#main { display: flex; height: calc(100% - 80px); }
#sidebar { overflow-y: auto; height: 100%; min-width: 100px; }
#content { height: 100%; width: 100%; }
#list { overflow-y: auto; height: 70%; }
#details { overflow-y: auto; height: 30%; }

.main-header .main-nav {
display: flex;
}