/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

.contact {
  margin-bottom: 1em;

  // Grid Fallback
  display: flex;
  flex-direction: row;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;

    @media (min-width: 320px) {
      // Grid
      grid-template-columns: 1fr 1fr;
    }
  }

}

.contact__call,
.contact__sms {
  background: grey;
  
  
  
  color: black;
  text-decoration: none;
  font: inherit;
  text-align: center;

  padding: 1em;

  @media (min-width: 320px) {
    padding: 2em;
  }

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
    color: yellow;
  }

  &:active {
    box-shadow: none;
  }
}

.contact__call {
  margin-right: 1em;

  @supports (display: grid) {
    margin-right: 0;
  }
}

.cotact__sms {
  margin-left: 1em;

  @supports (display: grid) {
    margin-left: 0;
  }
}