.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($auto-grid-min-size, 1fr));
  grid-template-rows: auto 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;

  @media (min-width: 720px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.services__header {
  grid-column: 1 / -1;
  justify-self: center;
}

.bee-removal-service {
  grid-column: 1 / -1;
  background: grey;
  padding: 1rem;
  text-align: center;
  justify-self: center;
  background-image: url("../img/bee1resize.jpg");
  min-height: 50vh;
  min-width: 80vw;
  background-color: #444;
  background-blend-mode: multiply;
  background-size: cover;
  border-radius: 5px;
  color: white;

  // display: flex;
  // flex-direction: column;
  // align-content: center;
  // align-items: center;
  // justify-content: center;
}

.service__header {
  font-size: 2em;
  height: 3em;
  text-decoration: underline;
}